<ion-header>
    <ion-toolbar>
        <ion-title>Observa que coche mas molón</ion-title>
    </ion-toolbar>
</ion-header>
<ion-item *ngIf="mostrarcoche==false">
    <ion-text>Cargando</ion-text>
</ion-item>
<ion-item *ngIf="mostrarcoche==true">
    <ion-label style="margin-left: 2%;">
        <ion-text color="dark">
            <h2><b>Marca: {{ coche.marca }}</b></h2>
        </ion-text>
        <ion-text color="medium">
            <p>Modelo: {{coche.modelo}}</p>
        </ion-text>
        <ion-text color="medium">
            <p>Caballos de potencia: {{coche.cv}}</p>
        </ion-text>
        <ion-text color="medium">
            <p>Lanzamiento del coche: {{coche.lanzamiento}}</p>
        </ion-text>
        <ion-text color="medium">
            <p>Velocidad Maxima: {{coche.velocidadmaxima}}</p>
        </ion-text>
        <div>
            <img src="{{coche.imagen}}" alt="Imagen del coche" srcset="">
        </div>
        <br>
        <ion-button (click)="compartirEnInstagram()" icon-start large round color="dark">
            Comparte en Instagram
            <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
    </ion-label>
</ion-item>
<ion-content>

</ion-content>