<ion-header>
    <ion-toolbar>
        <ion-title>Lista de coches</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let coche of listacoches">
            <ion-label style="margin-left: 2%;">
                <ion-text color="dark">
                    <h2><b>Marca: {{ coche.marca }}</b></h2>
                </ion-text>
                <ion-text color="medium">
                    <p>Modelo: {{coche.modelo}}</p>
                </ion-text>
                <div>
                    <img src="{{coche.imagen}}" alt="Imagen del coche" srcset="" class="img-container" style="width: 200;">
                </div>
                <br>
                <a [routerLink]="['/vercoche',coche.id]">
                    <ion-button icon-start large round color="dark">
                        Ver coche
                        <ion-icon name="eye-outline"></ion-icon>
                    </ion-button>
                </a>
                <ion-button (click)="eliminarCoche(coche)" icon-start large round color="dark">
                    Eliminar coche
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
                <a [routerLink]="['/editarcoche',coche.id]">
                    <ion-button icon-start large round color="dark">
                        Editar coche
                        <ion-icon name="eye-outline"></ion-icon>
                    </ion-button>
                </a>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
