<ion-header>
  <ion-toolbar>
      <ion-title>Lista de coches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="mostrardiv">
  <ion-list>
      <ion-item *ngFor="let coche of listafavoritos">
          <ion-label style="margin-left: 2%;">
              <ion-text color="dark">
                  <h2><b>Marca: {{ coche.marca }}</b></h2>
              </ion-text>
              <ion-text color="medium">
                  <p>Modelo: {{coche.modelo}}</p>
              </ion-text>
              <div *ngIf="coche.imagen!=''">
                  <img src="{{coche.imagen}}" alt="Imagen del coche" srcset="" class="img-container" style="width: 200;">
              </div>
              <div *ngIf="coche.imagen==''">
                  <img src="https://thumbs.dreamstime.com/b/icono-prohibido-del-coche-s%C3%ADmbolo-veh%C3%ADculo-no-hay-aparcamiento-167569716.jpg" alt="Imagen del coche" srcset="" class="img-container" style="width: 200;">
              </div>

          </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
