<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Bienvneido a FranCarDOTCOM
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card>
      <ion-card-header>
        Logueate
      </ion-card-header>
      <ion-card-content>
              <button ion-button icon-left>
                <ion-icon name="car-sport-outline"></ion-icon>
          <a routerLink="/login">Login</a>
      </button>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
    Registrate
 </ion-card-header>
  <ion-card-content>
        <button ion-button icon-left>
            <ion-icon name="car-sport-outline"></ion-icon>
      <a routerLink="/register">Registrar</a>
  </button>
  </ion-card-content>
  </ion-card>
</ion-content>
